<header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  +0123 456 6789</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="{{ facebook_url }}"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="{{ twitter_url }}"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="{{ dribbble_url }}"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"> {#<img src="{{ base_path ~ directory }}/images/logo.png" alt="logo">{{ {{ title }} }}#} {{ site_name }}</a> 
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
				{% if page.primary_menu %}
					{{ page.primary_menu }}
				{% endif %}
				</div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url({{ base_path ~ directory }}{{baner_image_first_bg}})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{{ base_path ~ directory }}{{ baner_image_first_front }}" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({{ base_path ~ directory }}{{ baner_second_image_bg }})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{{ base_path ~ directory }}{{ baner_image_second_front }}" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({{ base_path ~ directory }}{{ baner_third_image_bg }})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{{ base_path ~ directory }}{{ baner_image_third_front }}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="row">
                <div class="features {{ featured_class }}">
				{% if page.featured %}
					{{ page.featured }}
				{% endif %}
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
	</section><!--/#feature-->
	
	<section>
		<div class="container">
			{% if page.content %}
				{{ page.content }}
			{% endif %}
		</div>
	</section>
	
	<section id="recent-works">
			<div class="container">
			   <div class="row">
			   <div class="{{ recent_work_class }}">
				{% if page.recent_work %}
					{{ page.recent_work }}
				{% endif %}
				</div>
				</div><!--/.row-->
			</div><!--/.container-->
	</section><!--/#recent-works-->

    <section id="services" class="service-item">
	   <div class="container">
            <div class="row">
			<div class="{{ our_services_class }}
				{% if page.our_services %}
					{{ page.our_services }}
				{% endif %}
              </div>                                               
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="middle">
        <div class="container">
            <div class="row">
			{% if page.our_skills %}
                <div class="{{ testimonial_class }}">
				
				{{ page.our_skills }}
				</div>
			{% endif %}
			{% if page.why_people_like_us %}
                <div class="{{ testimonial_class }}">
				
				{{ page.why_people_like_us }}
				</div>
			{% endif %}
            </div>

        </div><!--/.col-sm-6-->
	</section><!--/#middle-->

    <section id="content">
        <div class="container">
            <div class="row">
				{% if page.bottom_widget_first %}
				<div class=" {{ bottom_widget_class }}">
					{{ page.bottom_widget_first }}
					</div>
				{% endif %}
				{% if page.bottom_widget_second %}
				<div class="{{ bottom_widget_class }}"
					{{ page.bottom_widget_second }}
			    </div>
				{% endif %}
		
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->

    <section id="partner">
        <div class="container">
		{% if page.our_partners %}
           <div class="partners col-md-12">
              {{ page.our_partners }}  
            </div>       
        {% endif %}			
        </div><!--/.container-->
    </section><!--/#partner-->

    <section id="conatcat-info">
        <div class="container">
            <div class="row">
			{% if page.contcat-info %}
                <div class="col-sm-12">
                    {{ page.contcat-info }}
                </div>
				{% endif %}
            </div>
        </div><!--/.container-->    
    </section><!--/#conatcat-info-->

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
				{% if page.footer_bottom_first %}
				<div class="{{ footer_widget_class }}">
					{{ page.footer_bottom_first }}
				</div>
				{% endif %}
				{% if page.footer_bottom_second %}
				<div class="{{ footer_widget_class }}">
					{{ page.footer_bottom_second }}
				</div>
				{% endif %}
				{% if page.footer_bottom_third %}
				<div class="{{ footer_widget_class }}">
					{{ page.footer_bottom_third }}
				</div>
				{% endif %}
				{% if page.footer_bottom_fourth %}
				<div class="{{ footer_widget_class }}">
					{{ page.footer_bottom_fourth }}
				</div>
				{% endif %}
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

 